.menu {
  background-image: url(../images/background_menu.svg);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  background-position: center;
}

.menu__title {
  max-width: 800px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px 0 24px;
}

.menu__subtitle {
  max-width: 800px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;
  max-width: 1180px;
  padding: 100px 0 100px;
}
